.slide1694-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.slide1694-slide1694 {
  width: 100%;
  height: 1080px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.slide1694-rectangle1 {
  top: -23px;
  left: 0px;
  width: 1920px;
  height: 1103px;
  position: absolute;
}
.slide1694-rectangle17 {
  top: 277px;
  left: 213px;
  width: 1494px;
  height: 147px;
  position: absolute;
  border-radius: 5px;
}
.slide1694-text {
  top: 317px;
  left: 288px;
  color: rgba(53, 53, 63, 1);
  width: 1344px;
  height: auto;
  position: absolute;
  font-size: 75px;
  font-style: Regular;
  text-align: center;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1694-rectangle18 {
  top: 457px;
  left: 213px;
  width: 1494px;
  height: 574px;
  position: absolute;
}
.slide1694-rectangle19 {
  top: 474px;
  left: 267px;
  width: 1386px;
  height: 65px;
  position: absolute;
}
.slide1694-text02 {
  top: 479px;
  left: 736px;
  color: rgba(53, 53, 63, 1);
  width: 453px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: center;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1694-rectangle20 {
  top: 556px;
  left: 267px;
  width: 1386px;
  height: 458px;
  position: absolute;
}
.slide1694-text04 {
  top: 135px;
  left: 592px;
  color: rgba(53, 53, 63, 1);
  width: 736px;
  height: auto;
  position: absolute;
  font-size: 50px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.slide1694-text06 {
  top: 195px;
  left: 688px;
  color: rgba(53, 53, 63, 1);
  width: 549px;
  height: auto;
  position: absolute;
  font-size: 75px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Regular;
  text-align: center;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1694-text08 {
  top: 563px;
  left: 288px;
  color: rgba(53, 53, 63, 1);
  width: 619px;
  height: auto;
  position: absolute;
  font-size: 45px;
  font-style: Regular;
  text-align: left;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.slide1694-rectangle6 {
  top: 16px;
  left: 143px;
  width: 1649px;
  height: 99px;
  position: absolute;
}
.slide1694-rectangle13 {
  top: 32px;
  left: 189px;
  width: 1557px;
  height: 67px;
  position: absolute;
}
.slide1694-text20 {
  top: 39px;
  left: 207px;
  color: rgba(53, 53, 63, 1);
  width: 1531px;
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: Almarai;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
